[submodule "nearbyCarbackend"]
	path = nearbyCarbackend
	url = https://github.com/omarignammas/nearbyCarbackend.git
[submodule "driver-appui"]
	path = driver-appui
	url = https://github.com/omarignammas/driver-appui
